<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eternity</title>
    <link rel="stylesheet" th:href="@{/styles/shared_style.css}"/>
    <link rel="stylesheet" th:href="@{/styles/homepage_style.css}"/>
</head>
<body>
    <div id="header">
        <div id="header-column">
            <a th:href="@{/}"><img id="logo" th:src="@{/media/logo.webp}"/></a>
            <h1 id="text-logo">Eternity</h1>
        </div>
    </div>
    <div id="main">
        <div id="main-column">
            <div id="menu">
                <h2 class="menu-item"><a th:href="@{/create}">create</a></h2>
                <h2 class="menu-item"><a th:href="@{/}">search</a></h2>
                <h2 class="menu-item"><a th:href="@{/readme}">readme</a></h2>
            </div>
            <div id="news-popular-panels">
                <div id="news-panel">
                    <h2 id="news-panel-title">news</h2>
                    <div id="news-topics-list" th:each="newsTopic : ${newsTopics}">
                        <div class="news-topic">
                            <h2 class="news-topic-title" th:text="'$> ' + ${newsTopic.title}"></h2>
                            <p class="news-topic-desc" th:text="${newsTopic.description}"></p>
                            <p class="news-topic-timestamp" th:text="${newsTopic.timestamp}"></p>
                        </div>
                    </div>
                </div>
                <div id="popular-panel">
                    <h2 id="popular-panel-title">popular threads</h2>
                    <div id="thread-topics-list" th:each="thread : ${popularThreads}">
                        <a class="thread-topic" th:href="@{/thread/{threadId}(threadId=${thread.id})}">
                            <h2 class="thread-topic-title" th:text="${thread.title}"></h2>
                            <p class="thread-topic-desc" th:text="${thread.description}"></p>
                            <p class="thread-topic-messages" th:text="'Messages: ' + ${thread.messagesNumber}"></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript" th:src="@{/scripts/homepage.js}"></script>
</body>
</html>