<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eternity</title>
    <link rel="stylesheet" th:href="@{/styles/eternity_style.css}"/>
</head>
<body>
    <div id="header">
        <div id="header-column">
            <img id="logo" th:src="@{/media/logo.webp}"/>
            <h1 id="text-logo">Eternity</h1>
        </div>
    </div>
    <div id="main">
        <div id="main-column">
            <div id="menu">
                <h2 class="menu-item">create</h2>
                <h2 class="menu-item">search</h2>
                <h2 class="menu-item">readme</h2>
            </div>
            <div id="news-popular-panels">
                <div id="news-panel">
                    <h2 id="news-panel-title">news</h2>
                    <div id="news-topics-list" th:each="newsTopic : ${newsTopics}">
                        <div class="news-topic">
                            <h2 class="news-topic-title" th:text="${newsTopic.title}">$> ERROR_TITLE</h2>
                            <p class="news-topic-desc" th:text="${newsTopic.description}">ERROR_DESCRIPTION</p>
                            <p class="news-topic-timestamp" th:text="${newsTopic.timestamp}"></p>
                        </div>
                    </div>
                </div>
                <div id="popular-panel">
                    <h2 id="popular-panel-title">popular threads</h2>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript" th:src="@{/scripts/homepage.js}"></script>
</body>
</html>