<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${thread.getTitle()}"></title>
    <link rel="stylesheet" th:href="@{/styles/eternity_style.css}"/>
</head>
<body>
<div id="header">
    <div id="header-column">
        <a th:href="@{/}"><img id="logo" th:src="@{/media/logo.webp}" alt="eternity_logo"/></a>
        <h1 id="text-logo">Eternity</h1>
    </div>
</div>
<div hidden="hidden">
    <span id="thread_id" th:text="${thread.getId()}"></span>
</div>
<div id="main">
    <div id="main-column">
        <div id="menu">
            <h2 class="menu-item"><a th:href="@{/}">home</a></h2>
            <h2 class="menu-item"><a th:href="@{/thread/{threadId}(threadId=${thread.getId()})}">chat</a></h2>
            <h2 class="menu-item"><a th:href="@{/thread/{threadId}/info(threadId=${thread.getId()})}">info</a></h2>
        </div>
        <div id="about-panel">
            <h2 class="about-panel-title" th:text="${thread.getTitle()}"></h2>
            <div class="about-topics-list" th:each="message : ${messages}">
                <div class="about-topic">
                    <h3 class="about-topic-title" th:text="'#' + ${message.getId()} + ' ' + ${message.getTimestamp()}"></h3>
                    <p class="about-topic-desc" th:text="'> ' + ${message.getText()}"></p>
                </div>
            </div>
            <h2 class="about-panel-title">post message</h2>
            <div class="post-message-block">
                <input id="message-text-input" type="text" maxlength="800" name="text" placeholder="your message..."/>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/scripts/thread.js}"></script>
</body>
</html>