/*
https://material.io/design/color/the-color-system.html#tools-for-picking-colors
 */

@font-face {
    font-family: 'SVI Basic Manual Font';
    src:
    url('../styles/fonts/SvBasicManual-nRPP.ttf')  format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    color: #FAFAFA;
    font-family: 'SVI Basic Manual Font', serif;
}

#header {
    display: flex;
    justify-content: center;
    margin-top: 6vh;
}

#header-column {
    display: flex;
    flex-direction: column;
}

#main {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}

#main-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu {
    display: flex;
    justify-content: center;
}

.menu-item {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

#text-logo {
    margin-top: 2vh;
    text-align: center;
}

#logo {
    width: 20vh;
}